<section id="gallery" class="experience">
    <div class="container experience-container">
            <h2 class="experience-header">coffee moments</h2>
            <p class="experience-text">Experience the warmth and community of CoffeeJoy.</p>
        <ul class="experience-list">
            <li class="experience-item">
                    <img 
                        class="experience-image" 
                        srcset="
                            ./img/experience/coffee-moments-desk-1-min.jpg  1x, 
                            ./img/experience/coffee-moments-desk-1@2x-min.jpg 2x"
                        src="./img/experience/coffee-moments-desk-1-min.jpg" 
                        alt="cup of coffee"
                    >
            </li>
            <li class="experience-item">
                    <img  
                        class="experience-image" 
                        srcset="
                            ./img/experience/coffee-moments-desk-2-min.jpg 1x, 
                            ./img/experience/coffee-moments-desk-2@2x-min.jpg 2x"
                        src="./img/experience/coffee-moments-desk-2-min.jpg" 
                        alt="croissant and coffee"
                    >
            </li>
            <li class="experience-item">
                    <img  
                        class="experience-image" 
                        srcset="
                            ./img/experience/coffee-moments-desk-3-min.jpg 1x, 
                            ./img/experience/coffee-moments-desk-3@2x-min.jpg 2x"
                        src="./img/experience/coffee-moments-desk-3-min.jpg" 
                        alt="book and coffee"
                    >
            </li>
            <li class="experience-item">
                    <img  
                        class="experience-image"
                        srcset="
                            ./img/experience/coffee-moments-desk-4-min.jpg 1x, 
                            ./img/experience/coffee-moments-desk-4@2x-min.jpg 2x"
                        src="./img/experience/coffee-moments-desk-4-min.jpg" 
                        alt="make coffee"
                    >
            </li>
            <li class="experience-item">
                    <img  
                        class="experience-image"
                        srcset="
                            ./img/experience/coffee-moments-desk-5-min.jpg 1x, 
                            ./img/experience/coffee-moments-desk-5@2x-min.jpg 2x"
                        src="./img/experience/coffee-moments-desk-5-min.jpg" 
                        alt="cafe CoffeeJoy"
                    >
            </li>
            <li class="experience-item">
                    <img  
                        class="experience-image"
                        srcset="
                            ./img/experience/coffee-moments-desk-6-min.jpg 1x, 
                            ./img/experience/coffee-moments-desk-6@2x-min.jpg 2x"
                        src="./img/experience/coffee-moments-desk-6-min.jpg" 
                        alt="two cups of coffee outdoors"
                    >
            </li>
            <li class="experience-item">
                <picture class="experience-picture">
                    <source
                        media="(min-width: 1440px)"
                        srcset="
                            ./img/experience/coffee-moments-desk-7-min.jpg 1x, 
                            ./img/experience/coffee-moments-desk-7@2x-min.jpg 2x">
                    <source 
                        media="(min-width: 768px)"
                        srcset="
                            ./img/experience/coffee-moments-tab-7.webp 1x, 
                            ./img/experience/coffee-moments-tab-7@2x.webp 2x">
                    <source
                        media="(max-width: 767px)"
                        srcset="
                            ./img/experience/coffee-moments-mob-7.webp 1x, 
                            ./img/experience/coffee-moments-mob-7@2x.webp 2x">
                    <img  
                        class="experience-image"
                        src="./img/experience/coffee-moments-desk-7-min.jpg" 
                        alt="a paper coffee cup"
                    >

                </picture>
            </li>
        </ul>
    </div>
</section>
