<header>
  <div class="container header-wrap">
    <nav class="header-nav">
      <a class="header-logo-link" href="/index.html">
        <img
          src="/img/header/header-logo.svg"
          alt="Coffee Joy's Logo"
          width="63"
          height="36"
        />
      </a>
      <ul class="header-link-list">
        <li class="header-list-item">
          <a class="header-list-item-link" href="#about-us">About us</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-item-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-item-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-item-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-item-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-burger-menu">
      <img src="/img/burger-menu.svg" alt="" width="24" height="24" />
    </button>
  </div>
</header>
