<div class="mobile-menu" data-menu>
  <div class="container">
    <div class="mobile-menu-header">
      <svg class="mobile-logo" width="84" height="36">
        <use href="/img/icons.svg#icon-company-logo"></use>
      </svg>

      <button class="mobile-close-btn" aria-label="close" data-menu-close>
        <svg class="mobile-close-btn-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-navigation">
      <ul class="mobile-navigation-list">
        <li class="mobile-navigation-list-item">
          <a class="mobile-navigation-link" href="#about-us" data-menu-close
            >About us</a
          >
        </li>
        <li class="mobile-navigation-list-item">
          <a class="mobile-navigation-link" href="#benefits" data-menu-close
            >Benefits</a
          >
        </li>
        <li class="mobile-navigation-list-item">
          <a class="mobile-navigation-link" href="#gallery" data-menu-close
            >Gallery</a
          >
        </li>
        <li class="mobile-navigation-list-item">
          <a class="mobile-navigation-link" href="#testimonial" data-menu-close
            >Testimonial</a
          >
        </li>
        <li class="mobile-navigation-list-item">
          <a class="mobile-navigation-link" href="#location" data-menu-close
            >Location</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
