  <div class="qual-conttxt container">
    <h2 class="qual-target">Quality</h2>
    <h3 class="qual-title">Why CoffeeJoy Stands Out from the Rest</h3>
    <p class="qual-txt">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
  </div>
  <div class="qual-contpic container">
    <ul class="qual-list">
      <li class="qual-item">
         <img class="qual-pic"
          srcset="/img/quality/quality-1-1x-min.png 1x,
          /img/quality/quality-1-2x-min.png 2x"
                    src="/img/quality/quality-1-1x-min.png"
          width="288"
          alt="Fresh-Roasted Coffee"
        />
        <div class="qual-card-txt">
          <h3 class="qual-list-title">Fresh-Roasted Coffee for Every Taste</h3>
          <p class="qual-txt">Savor the rich flavors of our expertly sourced beans.</p>
        </div> 
    </li>
      <li class="qual-item">
        <img class="qual-pic"
          srcset="/img/quality/quality-2-1x-min.png 1x,
          /img/quality/quality-2-2x-min.png 2x"
          src="/img/quality/quality-2-1x-min.png"
          width="288"
          alt="Baristas Crafting Brew"
        />
        <div class="qual-card-txt">
          <h3 class="qual-list-title">Expert Baristas Crafting Your Perfect Brew</h3>
          <p class="qual-txt">Our baristas are passionate about coffee and skilled in their craft.</p>
        </div> 
      </li>
      <li class="qual-item">
         <img class="qual-pic"
                srcset="
                  /img/quality/quality-3-1x-min.png 2x,
                  /img/quality/quality-3-1x-min.png    1x
                "
                src="/img/quality/quality-3-1x-min.png"
                width="288"
                alt="Cozy Atmosphere"
              />
               <div class="qual-card-txt">
          <h3 class="qual-list-title">Cozy Atmosphere</h3>
          <p class="qual-txt">We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
        </div> 
      </li>
    </ul> 
  </div>
</section>
