<section class="qual-section section" id="benefits">
  <div class="container">
    пше
    <div class="qual-conttxt">
      <h2 class="qual-target">Quality</h2>
      <h3 class="qual-title">Why CoffeeJoy Stands Out from the Rest</h3>
      <p class="qual-txt">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to
        your needs.
      </p>
    </div>
    <div class="qual-contpic">
      <ul class="qual-list">
        <li class="qual-item">
          <picture class="qual-picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/quality/quality-1-desc-1x-min.png 1x,
                /img/quality/quality-1-desc-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/quality/quality-1-pad-1x-min.png 1x,
                /img/quality/quality-1-pad-2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/quality/quality-1-1x-min.png 1x,
                /img/quality/quality-1-2x-min.png 2x
              "
            />
            <img
              src="/img/quality/quality-1-desc-1x-min.png"
              alt="Fresh-Roasted Coffee"
              class="qual-pic"
            />
          </picture>
          <div class="qual-card-txt">
            <h3 class="qual-list-title">
              Fresh-Roasted Coffee for Every Taste
            </h3>
            <p class="qual-txt">
              Savor the rich flavors of our expertly sourced beans.
            </p>
          </div>
        </li>
        <li class="qual-item">
          <picture class="qual-picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/quality/quality-2-desc-1x-min.png 1x,
                /img/quality/quality-2-desc-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/quality/quality-2-pad-1x-min.png 1x,
                /img/quality/quality-2-pad-2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/quality/quality-2-1x-min.png 1x,
                /img/quality/quality-2-2x-min.png 2x
              "
            />
            <img
              src="/img/quality/quality-2-desc-1x-min.png"
              alt="Baristas Crafting Brew"
              class="qual-pic"
            />
          </picture>
          <div class="qual-card-txt">
            <h3 class="qual-list-title">
              Expert Baristas Crafting Your Perfect Brew
            </h3>
            <p class="qual-txt">
              Our baristas are passionate about coffee and skilled in their
              craft.
            </p>
          </div>
        </li>
        <li class="qual-item xxl">
          <picture class="qual-picture">
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/quality/quality-3-desc-1x-min.png 1x,
                /img/quality/quality-3-desc-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/quality/quality-3-pad-1x-min.png 1x,
                /img/quality/quality-3-pad-2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/quality/quality-3-1x-min.png 1x,
                /img/quality/quality-3-2x-min.png 2x
              "
            />
            <img
              src="/img/quality/quality-3-desc-1x-min.png"
              alt="Cozy Atmosphere"
              class="qual-pic"
            />
          </picture>
          <div class="qual-card-txt short">
            <h3 class="qual-list-title">Cozy Atmosphere</h3>
            <p class="qual-txt">
              We don’t just serve coffee — we create a warm and welcoming space
              where every cup feels like home.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
