<section>
  <div class="container subscribe-container-wrap">
    <div class="subscribe-container-text">
      <h1 class="subscribe-title">Join Our Coffee Community</h1>
      <p class="subscribe-description">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>

      <form
        class="subscribe-form"
        name="issue_report_form"
        autocomplete="off"
        id="subscribe-form"
      >
        <div class="subscribe-form-container">
          <input
            class="subscribe-form-input"
            type="email"
            name="useremail"
            id="your-email"
            placeholder="Your Email Here"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <p class="text-valid">Succes!</p>
          <p class="text-invalid">Error Text</p>
        </div>
        <label class="visually-hidden" for="your-email">Your Email</label>

        <button class="subscribe-form-button" type="submit">
          Subscribe
          <svg class="subscribe-form-button-svg" width="24" height="24">
            <use href="./img/icons.svg#icon-chevrons-right"></use>
          </svg>
        </button>

        <p class="subscribe-form-description">
          By clicking Get Started, you agree to our
          <a class="subscribe-form-link" href="#">Terms and Conditions</a>.
        </p>
      </form>
    </div>

    <picture class="subscribe-image">
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/subscribe/subscribe-desc-min.jpg    1x,
          /img/subscribe/subscribe-desc@2x-min.jpg 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          /img/subscribe/subscribe-tab-min.jpg    1x,
          /img/subscribe/subscribe-tab@2x-min.jpg 2x
        "
      />

      <source
        media="(max-width: 767px)"
        srcset="
          /img/subscribe/subscribe-mob-min.jpg    1x,
          /img/subscribe/subscribe-mob@2x-min.jpg 2x
        "
      />

      <img
        class="subscribe-image"
        src="/img/subscribe/subscribe-mob-min.jpg"
        alt="subscribe image"
      />
    </picture>
  </div>
</section>
