<section>
  <div class="container subscribe-container-wrap">
    <div class="subscribe-container-text">
      <h1 class="subscribe-title">Join Our Coffee Community</h1>
      <p class="subscribe-description">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>

      <form class="subscribe-form" name="issue_report_form" autocomplete="off">
        <input
          class="subscribe-form-input"
          type="email"
          name="useremail"
          id="your-email"
          required
          placeholder="Your Email Here"
        />
        <label class="visualy-hidden subscribe-form-label" for="your-email"
          >Error Text</label
        >

        <button class="subscribe-form-button" type="submit">
          Subscribe
          <svg class="subscribe-form-button-svg" width="24" height="24">
            <use href="./img/icons.svg#icon-chevrons-right"></use>
          </svg>
        </button>

        <p class="subscribe-form-description">
          By clicking Get Started, you agree to our
          <a class="subscribe-form-link" href="#">Terms and Conditions</a>.
        </p>
      </form>
    </div>

    <picture class="subscribe-image">
      <source
        media="(min-width: 1158px)"
        srcset="
          /img/subscribe/subscribe-desc-min.jpg    1x,
          /img/subscribe/subscribe-desc@2x-min.jpg 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          /img/subscribe/subscribe-tab-min.jpg    1x,
          /img/subscribe/subscribe-tab@2x-min.jpg 2x
        "
      />

      <source
        media="(max-width: 767px)"
        srcset="
          /img/subscribe/subscribe-mob-min.jpg    1x,
          /img/subscribe/subscribe-mob@2x-min.jpg 2x
        "
      />

      <img
        class="subscribe-image"
        src="/img/subscribe/subscribe-mob-min.jpg"
        alt="subscribe image"
      />
    </picture>
  </div>
</section>
