@media screen and (min-width: 768px) {
  .qual-section {
    padding: 0px, 32px;
  }
}

@media screen and (min-width: 1158px) {
  .qual-section {
    padding: 0px, 64px;
  }
}
.qual-target {
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}

.qual-title {
  font-family: 'Aboreto';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .qual-title {
    max-width: 442px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .qual-title {
    font-size: 48px;
    max-width: 768px;
  }
}
.qual-txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: block;
  max-width: 100%;
}
.qual-conttxt {
  margin-bottom: 32px;
}
.qual-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.qual-pic {
  border-radius: 32px;
  text-align: center;
  max-width: 288px;
}
.qual-list-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.qual-list {
  margin: 0 auto;
}
.qual-card-txt {
  margin-top: 32px;
  margin-bottom: 24px;
}
